*{
    margin: 0;
    padding: 0;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --third-color: #b0bdd6ac;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --third-color: #262626;
}
.hero{
    height: 90vh;
    width: 100%;
    background: var(--primary-color); 
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    /*margin: 10px 20px;*/
}
nav ul li a{
    margin: 20px;
    text-decoration: none;
    color: var(--secondary-color);
}
/* This changes the color of HOME button when curson is hovered above it*/
nav ul li a:hover{
    color: #ff4321;
}
/* ------- FROM YOUTUBE------ */
/* .contact{
    background-color: var(--primary-color);
    color: var(--secondary-color);
} */
.contact-left{
    font-size: 18px;
    color: var(--secondary-color);
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left h1{
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}
.contact-left p{
    font-family: sans-serif; 
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 30px;
}
.contact-left p i{
    color: #777;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin: 10px;
    height: 10%;     
}
.social-icons a{
    display: flex;
    background: var(--primary-color);
    height: 80px;
    width: 95px;
    border-radius: 80px;
    align-items: center;
    /*justify-content: center;*/
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px -6px 10px - 1px rgba (255,255,255,0.7) ;
    border: 1px solid rgba(0,0,0,0) ;
    transition: transform 0.5s;
}

.social-icons a i{
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
    margin: 8px;
}
.social-icons a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba (255,255,255, 0.7) ,
    -0.5px -0.5px 0px rgba (255,255, 255, 1) , 
    0.5px 0.5px 0px rgba (0, 0,0, 0.15) , 
    Opx 12px 10px -10px rgba (0,0,0, 0.05) ;
    border: 1px solid rgba (0,0,0,0.01) ;
    transform: translateY (2px);
}
.social-icons a:hover i{
    transform: scale(0.70);
}
.social-icons a:hover .fa-whatsapp{
    color: #4fce5d;
}
.social-icons a:hover .fa-telegram{
    color: #08c;
}
.social-icons a:hover .fa-envelope{
    color: rgb(144, 0, 255);
}
.social-icons a:hover .fa-discord{
    color: #4e5d94;
}
.outer-footer{
    padding: 130px;
    text-align: left;
    font-size: 12px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
/* .contact-right a{
        background: var(--secondary-color);
        padding: 10px 18px;
        text-decoration: none;
        color: var(--primary-color);
        display: inline-block;
        margin: 30px 0;
        border-radius: 5px; 
} */
.btn.btn2{
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-color);
    /* display: flex;
    justify-content: center; */
    text-align: center;
    margin: 30px 0;
    border-radius: 5px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--third-color);
    padding: 15px;
    font-size: 18px;
    margin: 15px 0;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 6px;

}
form .btn2{
    padding: 20px 60px;
    font-size: 18px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    cursor: pointer;
}
/* css for small screens 
@media only screen and (max-with: 600px){
   
    nav ul{
        background: var(--primary-color);
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        padding-top: 50px;
        
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav .fas{
        display: none;

    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
}*/
#msg{
    color: var(--secondary-color);
    margin-top: 10px;
    display: block;
}

